{% extends 'base.html' %}
{% block title %} Add new invite {% endblock %}

{%block body%}

   <div class="container">
      <h1>Insert guests</h1>

          <form action="/insertData/" method="post">
               {% csrf_token %}
              <div class="form-group">
                <label for="exampleInput">Guest Name</label>
                <input type="text" class="form-control" id="exampleInput" placeholder="Name" name="name" required>
              </div>
              <div class="form-group">
                <label for="exampleInput1">Function Name</label>
                <input type="text" class="form-control" id="exampleInput1" placeholder="Function Name" name="function_name" required>
              </div>
              <div class="form-group">
                  <label for="example-number-input">Max RSVP</label>
                  <input class="form-control" type="number" id="example-number-input" name="maxRSVP" placeholder="Maximum No. of Guests" required>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
          </form>

      </div>

{% endblock %}