{% extends 'base.html' %}
{% block title %} Add new invite {% endblock %}

{%block body%}

   <div class="container">
      <h1>Insert guests</h1>

          <form action="/book/" method="post">
               {% csrf_token %}
              <div class="form-group">
                <label for="exampleInput">Guest Name</label>
                <input type="text" class="form-control" id="exampleInput" placeholder="Name" name="name" required>
              </div>

                <div class="form-group">
                    <label for="exampleFormControlSelect1">Select Event</label>
                    <select class="form-control" id="exampleFormControlSelect1" name="event_id">
                        {% for e in events %}
                      <option value="{{e.event_id}}">{{ e.event_name }}</option>
                      {% endfor %}
                    </select>
                  </div>

              <div class="form-group">
                  <label for="example-number-input">Max RSVP</label>
                  <input class="form-control" type="number" id="example-number-input" name="maxRSVP" placeholder="Maximum No. of Guests" required>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
          </form>

      </div>

{% endblock %}