{% extends 'base.html' %}
{% block title %} Register {% endblock %}

{%block body%}

   <div class="container">
      <h1>Register new user</h1>
       <hr>
       <form action="{% url 'register' %}" method="post">
           {% csrf_token %}
           {% if form.errors %}
                <p>There is some error in form</p>
           {% endif %}
           {{ form }}
           <button type="submit">Click</button>
       </form>
    </div>
    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
</body>
{% endblock %}