{% extends 'base.html' %}
{% block title %} All invites {% endblock %}

{%block body%}

   <div class="container">
      <h1>All </h1>
       <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Event Name</th>
              <th scope="col">Total invites</th>
              <th scope="col">RSVP</th>
              <th scope="col">URL</th>
              <th scope="col">QR CODE</th>
            </tr>
          </thead>
          <tbody>
          {% for item in all %}
            <tr>
              <th scope="row">{{ item.booking_id }}</th>
              <td>{{ item.guest_name }}</td>
              <td>{{ item.event.event_name }}</td>
              <td>{{ item.max_rsvp }}</td>
              <td>{{ item.done_rsvp }}</td>
              <td><a href="{{ item.url }}" target="_blank">{{ item.url }}</a></td>
              <td><a href="/media/{{ item.qrcode }}" target="_blank">{{ item.qrcode }}</a> </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>


</div>

{% endblock %}