{% extends 'base.html' %}
{% block title %} All invites {% endblock %}
{%block body%}

   <div class="container">
      <h1>All of your guests</h1>

       <div class="form-group">
            <!--<label for="select">Select Event to see by Events</label>-->
            <select class="form-control" id="select" name="event_id" onchange="selectListener();">
                <option value="all">Select Event to see by Events</option>
                <option value="all">All</option>
                {% for e in events %}
                  <option value="{{e.event_id}}"
                          {% if eid == e.event_id %}
                            selected
                          {% endif %}
                  >
                      {{ e.event_name }}
                  </option>
              {% endfor %}
            </select>
            {% if max and done %}
              <h4>Total Invites: <span id="mx">{{max}}</span> </h4>
              <h4>Total RSVPs: <span id="dn">{{done}}</span> </h4>
<!--               <div class="chart-container" style="position: relative; height:40vh; width:80vw">
                <canvas id="myChart"></canvas>
            </div> -->
            <canvas id="myChart"></canvas>
            {% endif %}
       </div>

       <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Name</th>
              <th scope="col">Event Name</th>
              <th scope="col">Total invites</th>
              <th scope="col">RSVP</th>
              <th scope="col">URL</th>
              <th scope="col">QR CODE</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
          {% for item in all %}
            <tr>
              <th scope="row">{{ item.booking_id }}</th>
              <td>{{ item.guest_name }}</td>
              <td>{{ item.event.event_name }}</td>
              <td>{{ item.max_rsvp }}</td>
              <td>{{ item.done_rsvp }}</td>
              <td><a href="{{ item.url }}" target="_blank">{{ item.url }}</a></td>
              <td><a href="/media/{{ item.qrcode }}" target="_blank">{{ item.qrcode }}</a> </td>
              <td><a class="btn btn-danger" href="/delete?b_id={{ item.booking_id }}">Delete</a> </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>


</div>

{% endblock %}

{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.js" integrity="sha256-qSIshlknROr4J8GMHRlW3fGKrPki733tLq+qeMCR05Q=" crossorigin="anonymous"></script>
    <script>
       function selectListener(){
            id = document.getElementById("select").value;           
            url = window.location.href
            base_url = url.split("?")[0]
            if (id=="all"){
                redir = base_url;
            }
            else{
                redir = base_url + "?eid=" + id;
            }
            
            window.location = redir;
       }

       if(document.getElementById("mx") != null && document.getElementById("dn") != null){
          total = parseInt(document.getElementById("mx").innerText);
          done = parseInt(document.getElementById("dn").innerText);
          not_attending = total - done;

          var ctx = $('#myChart');
          data = {
              datasets: [{
                  data: [done, not_attending],
                  backgroundColor: [
                      'rgba(255, 99, 132, 0.7)',
                      'rgba(54, 162, 235, 0.7)',
                  ],
                  borderColor: [
                      'rgba(255,99,132,1)',
                      'rgba(54, 162, 235, 1)',
                   ],

              }],

              // These labels appear in the legend and in the tooltips when hovering different arcs
              labels: [
                  'Attending',
                  'Not Attending'
              ]
          };

          options = {
              responsive: true,
          }

          // And for a doughnut chart
          var myDoughnutChart = new Chart(ctx, {
              type: 'doughnut',
              data: data,
              options: options
          });

        }

    </script>
{% endblock %}