{% extends 'base.html' %}
{% block title %} All invites {% endblock %}

{%block body%}

   <div class="container">
      <h1>All of your guests</h1>

       <div class="form-group">
            <label for="select">Select Event to see by Events</label>
            <select class="form-control" id="select" name="event_id" onchange="selectListener();">
                <option value="all">---</option>
                <option value="all">All</option>
                {% for e in events %}
              <option value="{{e.event_id}}"
                      {% if eid == e.event_id %}
                selected
              {% endif %}
              >
                  {{ e.event_name }}
              </option>
              {% endfor %}
            </select>
       </div>

       <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Event Name</th>
              <th scope="col">Total invites</th>
              <th scope="col">RSVP</th>
              <th scope="col">URL</th>
              <th scope="col">QR CODE</th>
            </tr>
          </thead>
          <tbody>
          {% for item in all %}
            <tr>
              <th scope="row">{{ item.booking_id }}</th>
              <td>{{ item.guest_name }}</td>
              <td>{{ item.event.event_name }}</td>
              <td>{{ item.max_rsvp }}</td>
              <td>{{ item.done_rsvp }}</td>
              <td><a href="{{ item.url }}" target="_blank">{{ item.url }}</a></td>
              <td><a href="/media/{{ item.qrcode }}" target="_blank">{{ item.qrcode }}</a> </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>


</div>

{% endblock %}

{% block script %}
    <script>
       function selectListener(){
            id = document.getElementById("select").value;
            console.log(id)
            url = window.location.href
            base_url = url.split("?")[0]
            if (id=="all"){
                redir = base_url;
                console.log(redir)
            }
            else{
                redir = base_url + "?eid=" + id;
            }

            console.log(redir);
            window.location = redir;
       }
    </script>
{% endblock %}