{% extends 'base.html' %}
{% block title %} Welcome Page {% endblock %}
{%block body%}

   <div class="container">
       <h1>Dear, <span style="color:#45CE30">{{name}}</span></h1>
       <h2>You are invited to, <span style="color:#4834DF">{{function}} - {{desc}}</span> </h2>
       <h3>Invitation From, <span style="color:#4834DF">{{host_name}}</span> </h3>
       <hr>

        <h4>Provide no. of RSVP</h4>
          <form action="/rsvp/" method="post">
               {% csrf_token %}
            <div class="form-group">
                <label for="sel">No. of people</label>
                <select class="form-control" id="sel" name="number">
                    {% for i in range%}
                     <option {% if forloop.last %} selected {% endif %} >{{i}}</option>
                    {% endfor %}
                </select>
              </div>
              <input value="{{digest}}" name="digest" style="display:none">
               <button type="submit" class="btn btn-primary">Done</button>
          </form>
      </div>

{% endblock %}